@charset "utf-8";
/* CSS Document */

/*  Reset for some default browser CSS - General */

body, div, h1, h2, h3, p, ul, ol, li, img, header, section, aside, footer, button {
	margin: 0; padding: 0; border: 0; list-style: none;
}

a {
	text-decoration: none;
	color: #961b25;
}

a:hover {
	color: #6f92a7;
}

:focus {
	outline: 0;
}

h1, h2, h3 {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; 
	font-weight: normal;
} 

h2 {
	font-size: 22px;
	line-height: 28px;
}

.float {
		float:left;
	}
	
body {
	font-family : "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 12px;
	}	


/* Header */
	
header#site_head {
	-moz-box-shadow: inset 0px -2px 3px #480508;
	-khtml-box-shadow: inset 0px -2px 3px #480508;				
	-webkit-box-shadow: inset 0px -2px 3px #480508;
	box-shadow: inset 0px -2px 3px #480508;
	border-bottom: 1px solid #fffffb;
	height: 70px;
	width: 100%;
	display: block;
}

	.header_cont {
		width: 960px;
		margin: 0 auto;
		padding-top: 15px;
	}
	
	.header_cont h1 {
		text-indent:-9999px;
		float: left;
	}
	
	
	.header_cont h1 a:hover {
		background-position: 0px -45px;
	}
	
	nav.head_nav {
		float: right;
		margin-top: 13px;
	}
	
			nav.head_nav ul li {
				display: inline;
				margin: 0px 5px;
			}
			
			nav.head_nav ul li a {
				color: #f6f6ee;
				font-size: 12px;
				font-weight: normal;
				text-transform: lowercase;
				padding: 5px 8px;
			}
	
	nav.head_nav ul li.home a {
		background: #4f1d1e;
		-moz-border-radius: 10px;		
		-khtml-border-radius: 10px;				
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	
	nav.head_nav ul li.rss a:hover, nav.head_nav ul li.twitter a:hover  {
		color: #f6f6ee; 		
		-moz-border-radius: 0;
		-khtml-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-box-shadow: none;
		-khtml-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	
/* Main container */	

#main_content {	
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
}


	/* Last posts section */	
		
	.section_tit {
		clear: both;
	}
	
	.section_tit h3 {
		text-align: center;
		font-size: 34px;
		margin: 10px 0 25px 0;
		color: #c9c9c0;
		text-shadow: 1px 1px 0px #fff;
	}
	
	div.single_post {
		float: left;
		width: 440px;
		height: 340px;
		margin: 0 16px 35px 16px;
	}
	
				div.art {
					width: 420px; 
					height: 320px;
					display: block;
					background: rgb(255,255,255); /*rgba ie fix*/
					background: rgba(255,255,255,0.75);
					border: 1px solid rgb(255,255,255); /*rgba ie fix*/
							-moz-border-radius: 10px;
							-khtml-border-radius: 10px;
							-webkit-border-radius: 10px;
							border-radius: 10px;
							border-radius: 10px;
							-moz-box-shadow: 0px 0px 5px #c6c6bf;
							-khtml-box-shadow: 0px 0px 5px #c6c6bf;
							-webkit-box-shadow: 0px 0px 5px #c6c6bf;
							box-shadow: 0px 0px 5px #c6c6bf;
					margin-left: 15px;
					overflow: auto;
					float:left;
				}
		
			div.art:hover {
				background: rgb(255,255,255); /*rgba ie fix*/
			}
		
		div.single_post header h2 {
			border-bottom: 1px solid #dbdbd4;			
			margin: 20px;
			padding-bottom: 20px;
			text-align: center;
		}
		
		div.single_post p, section#archive p {
			padding: 0 20px;
			font-size: 12px;
			line-height: 20px;
		}	
	/* Archive - Sidebar */
