{% extends 'AcmeCallendarBundle:Default:home.html.twig' %}


{% block post %}
			<div class="single_post">
				<article>
					<div class="art">				
						<header class="post_head">
							<h2>Nagłówek Artykułu</h2>					
						</header>
						<p>{{name}}</p>					
			
					</div>						
				</article>
			</div>
{% endblock %}

{% block title %}
	UserPage
{% endblock %}

{% block title_inside%}
	<h3>UserPage</h3>
{% endblock %}
